.first
.first
.first
.first
.first
.first
.first
.second
.second
.second
.second
.second
.second
.second
.main_home_container
  center
    |On this site you can create your own task lists. Plan your day and hand out tasks with our app.
    |Some other information :)
    br
    |Good luck!
    br
    center
      = link_to 'New list', new_list_path, class: 'button b'
.first
.first
.first
.first
.first
.first
.first
.second
.second
.second
.second
.second
.second
.second


