.button {
  background-color: $lightblue;
  display: inline-block;
  cursor: pointer;
  color: $white;
  padding: 5px, 8px;
  outline: none;
  padding: 5px 5px;
  border-radius: 5px;

  &:hover {
    background-color: $lightblue;
    color: $white;
    animation: blue-to-pink 2s ease infinite;
  }

  &:active {
    position: relative;
    top:1px;
  }
}

@include animation-mixin(blue-to-pink, $lightblue, pink);
