.button {
  background-color: $lightblue;
  border-radius: 5px;
  color: $white;
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: 5px;

  .hidden {
    display: none;
  }


  &:hover {
    animation: blue-to-pink 2s ease infinite;
    background-color: $lightblue;
    color: $white;
  }

  &:active {
    position: relative;
    top: 1px;
  }
}

@include animation-mixin(blue-to-pink, $lightblue, $pink);
