.body {
  background-color: $lightbluecolor;
}

.header {
  background-color: $lightblue;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;

  &__menu {
    display: flex;
  }

  &__link {
    margin: 0 10px;
    padding-top: 15px;
  }
}

.content {
  background-color: $lightbluecolor;
  padding: 30px 20px;
}
